<div class="container">
  <button type="button" class="btn btn-success" (click)="addStudent()">
    Add Student
  </button>
</div>
<div class="container">
    <h2>List of students</h2>
    <table class="table table-striped">
        <thead class="table-dark text-white">
            <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total Marks</th>
           <th>DOB</th>
          <th>Gender</th>
          <th>View </th>
          <th>Edit </th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
             <input type="text" placeholder="Enter Search item" [(ngModel)]="searchname">
            <button type="button" class="btn btn-warning" (click)="searchGender()">SearchByGender</button>    
          <button type="button" class="btn btn-danger" (click)="searchName()">SearchByName</button>    
         
          <tr  *ngFor="let stud of filteredStudents">
            <td>{{stud.studId}}</td>
            <td>{{stud.studName }}</td>
            <td>{{stud.studTotalMarks  }}</td>
            
            <td>{{stud.studDOB | date: 'fullDate' }}</td>
            <td>{{stud.studGender}}</td>
            <td> <button type="button" class="btn btn-warning" (click)="viewStudent(stud.studId)">View Student</button></td>
            <td> <button type="button" class="btn btn-primary" (click)="editStudent(stud.studId)">Edit Student</button></td>
            <td> <button type="button" class="btn btn-danger" (click)="deleteStudent(stud.studId)">Delete Student</button></td>
          </tr>
       
        </tbody>
    </table>
   
</div>
