<p>stud-by-name works!</p>
<div class="container">
 
</div>
<div class="container">
    <h2>List of studentsByName</h2>
    <table class="table table-striped">
        <thead class="table-dark text-white">
            <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total Marks</th>
           <th>DOB</th>
          <th>Gender</th>
          
        </tr>
        </thead>
        <tbody>
            
          <tr  *ngFor="let stud of allstud">
            <td>{{stud.studId}}</td>
            <td>{{stud.studName }}</td>
            <td>{{stud.studTotalMarks  }}</td>
            
            <td>{{stud.studDOB  }}</td>
            <td>{{stud.studGender}}</td>
          <!--  <td> <button type="button" class="btn btn-warning" (click)="viewStudent(stud.id)">View Student</button></td>
            <td> <button type="button" class="btn btn-primary" (click)="editStudent(stud.id)">Edit Student</button></td>
            <td> <button type="button" class="btn btn-danger" (click)="deleteStudent(stud.id)">Delete Student</button></td>
         --> </tr>
       
        </tbody>
    </table>
   
</div>
