

<div class="container">
   <!-- <h2 *ngIf="isLoggedIn"> student details</h2>-->
    <h2 [ngStyle]="{'font-size.px':50}">Student Details</h2>
 <table class="table table-striped">
        <thead class="table-dark text-white">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>TotalMarks</th>
                <th>Percentage</th>
                <th>Dob</th>
                <th>Gender</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <input type="text" placeholder="Search by Gender" [(ngModel)]="filterData">
            <button type="button" class="btn btn-warning" (click)="searchGender()">Search Student By Gender</button>    
         
            <tr *ngFor="let stud of filteredStudents">
                   
           <!-- <tr  *ngIf="stud.studGender==='Male'" >
           <tr *ngFor="let stud of allStudents" [ngClass]="{'table-dark':stud.studTotalMarks>200}">-->
                <td>{{stud.studId}}</td>
                <td>{{stud.studName | uppercase }}</td>
                <td>{{stud.studTotalMarks | currency :'INR' :'symbol' }}</td>
                <td>{{stud.studTotalMarks | expo : 3 }}</td>
                <td>{{stud.studDOB | date:'yyyy-MMM-dd' }}</td>    
                <td>{{stud.studGender}}</td>  
                <td><button type="button" class="btn btn-warning" (click)="viewstud(stud.studId)">View Student</button></td>             
               </tr>
           <!-- </ng-container>-->
        </tbody>
    </table>    
</div>
